*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #111111;
}

.navbar{
    width: 100%;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-links{
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #111111;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #777777;
}

.hero{
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    gap: 60px;
}

.hero-left{
    max-width: 700px;
}

.mini-text{
    font-size: 14px;
    letter-spacing: 3px;
    color: #777777;
    margin-bottom: 25px;
}

.hero-left h1{
    font-size: 72px;
    line-height: 1.1;
    margin-bottom: 30px;
}

.description{
    font-size: 20px;
    line-height: 1.8;
    color: #555555;
    margin-bottom: 40px;
}

.discover-btn{
    display: inline-block;
    padding: 18px 35px;
    background-color: #111111;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.discover-btn:hover{
    background-color: #333333;
}

.hero-right{
    width: 500px;
    height: 500px;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

.hero-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section{
    padding: 180px 8% 100px 8%;
}

.section-title{
    font-size: 55px;
    margin-bottom: 25px;
}

.section-description{
    max-width: 850px;
    font-size: 19px;
    line-height: 1.8;
    color: #555555;
    margin-bottom: 60px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.card{
    border: 1px solid #eeeeee;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    transition: 0.4s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.card h3{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 24px;
}

.card p{
    line-height: 1.7;
    color: #666666;
}

.more-btn{
    margin-top: 20px;
    padding: 14px 24px;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.more-btn:hover{
    background-color: #333333;
}

.skill-details{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease;
    margin-top: 0;
}

.skill-details.open{
    max-height: 500px;
    opacity: 1;
    margin-top: 20px;
}

.cv-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    margin-top: 60px;
}

.cv-preview{
    width: 400px;
    height: 550px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #777777;
    padding: 20px;
    flex-shrink: 0;
}

.cv-text{
    max-width: 600px;
}

.cv-text h2{
    font-size: 35px;
    margin-bottom: 25px;
}

.cv-text p{
    line-height: 1.9;
    color: #555555;
    margin-bottom: 25px;
}

.cv-text a{
    display: inline-block;
    margin-top: 20px;
    background-color: #111111;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 60px;
}

.contact-info{
    width: 35%;
}

.contact-info h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.contact-info p{
    margin-bottom: 20px;
    line-height: 1.8;
    color: #555555;
}

.contact-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 18px;
    border: 1px solid #dddddd;
    outline: none;
    font-size: 16px;
    background-color: white;
}

.contact-form textarea{
    height: 180px;
    resize: none;
}

.contact-form button{
    width: fit-content;
    padding: 15px 35px;
    background-color: #111111;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover{
    background-color: #333333;
}
.project-files{
    margin-top: 25px;

    padding-top: 20px;

    border-top: 1px solid #eeeeee;
}

.empty-file{
    color: #888888;

    font-size: 14px;
}

.project-file{
    display: inline-block;

    margin-top: 10px;

    padding: 12px 20px;

    background-color: #111111;

    color: white;

    text-decoration: none;

    border-radius: 6px;

    transition: 0.3s;
}

.project-file:hover{
    background-color: #333333;
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
.cv-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}